[submodule "segment-anything"]
	path = segment-anything
	url = https://github.com/facebookresearch/segment-anything.git
[submodule "sam2"]
	path = sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "sam3"]
	path = sam3
	url = https://github.com/facebookresearch/sam3.git
[submodule "src/sam"]
	path = src/sam
	url = https://github.com/facebookresearch/segment-anything.git
